@model ServiceCategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@inject IThemeContext themeContext
@{
    Layout = "_ColumnsTwoService";
    var themeName = themeContext.WorkingThemeName;

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-service-category-page");
    Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/news.css");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("NewsCategory", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@*category breadcrumb*@
@section categorytitle{
    <div class="page-title-wrapper"><h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount"><span class="base" data-ui-id="page-title-wrapper">@Model.Name</span></h1> </div>
}
<div class="news-list-page">
    <div class="post-list-wrapper">
        <div class="row">
            @foreach (var item in Model.ServiceItemListModel.ServiceItems)
            {
                <div class="col-6"><div class="post-item">
                        <a class="news-title" href="@Url.RouteUrl("ServiceItem", new { SeName = item.SeName })"><img class="img-fluid lazy" data-src="@item.PictureModel.ImageUrl" alt="@item.Name" /></a>
                        <h2 class="title">
                            <a href="@Url.RouteUrl("ServiceItem", new { SeName = item.SeName })">@item.Name</a>
                        </h2>
                        <div class="post-posed-date">
                            <span class="value">@item.CreatedOn.ToString("D")</span>
                        </div>
                   
                </div></div>
            }
        </div>
        @{
            var pager = Html.Pager(Model.ServiceItemListModel.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
    </div>
</div>
